%h1 Teams
- if current_user
  .well
    = link_to "Create team", new_team_path, class: "btn primary"
- if @teams.empty?
  %p There are no teams yet.
- else
  %table
    %thead
      %tr
        %th Name
    %tbody
      - @teams.each do |team|
        %tr
          %td= link_to team.name, team_path(team)
